/* Setting Up Background */
/* Setting Up Background */
.meaningfull{
    width: 100%;
    height:72vh;
    background-image: url('C:\Users\rishabh\Desktop\Portfolio\portfolio-app\src\Components\Images\secbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.2vh;
    margin-bottom: 5vh;
    border-radius: 35px;
    
}
.topbg{
    background-image: url('C:\Users\rishabh\Desktop\Portfolio\portfolio-app\src\Components\Images\TOPBG.png');
    width: 100vw;
    height: 72vh;
    background-size: cover;
    background-repeat: repeat-x;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
/* Setting Up Background */
/* Setting Up Background */
/* ----------------------------- */

/* My Skill  */
/* My Skill  */
.mySkillHeading{
    display: flex;
    align-items: center;
    gap: 10px;
    color:white;
    margin-left: 40px;
}


.topbg .mySkillHeading h2{
    letter-spacing: 2px;
}

/* Skill Cards      =--------------------- */

#Skills{
    color: #FD853A;
}

.skills{
    display: flex;
    gap: 50px;
    padding: 40px;
    padding-left: 30px;
    width: 100%;
    overflow: auto;
}

.skills::-webkit-scrollbar{
    display: none;
}

.skills .skill{
    height: 300px;
    width: 200px;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
}

.skills .skill .logo{
    width: 200px;
    overflow: hidden;
    border-bottom: 2px solid rgba(255, 255, 255, 0.211);
    
}
.skills .skill .logo img{
    width: 200px;
    
}

/* .skillcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
} */

/* .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {
  width: 90%;
  background-color: #000000;
   animation: fill 5s ease-in-out;
   } */

  .container .html{
       background: #000;
    animation: exampleAnimation 3s ease-in;
    /* color: white */
   }

@keyframes exampleAnimation {
    0%{
        background: blue;
    }
    25%{
        background: cyan;
    }
    50%{
        background: green;
    }
    75%{
        background: yellow
        ;
    }
    100%{
        background: red;
    }
}

 

@media only screen and (max-width:450px){
    .meaningfull{
        width: 100%;
        height:70vh;
    }
    .topbg{
        width: 100vw;
        height: 60vh;
    }
    .skills{
        display: flex;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
        /* padding: 0px; */
    }
    .topbg{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mySkillHeading{
        margin-left: 0px;
        /* margin: 0; */
        justify-content: center
        ;
    }
}
/* My Skill  */
/* My Skill  */
/* --------------------------------- */


